.Axis path,
.Axis line {
  stroke: #E0E0E0;
}

.Axis text {
  font-size: 11px;
  fill: black;
}

.Axis-Bottom text {
  transform: rotate(-45deg);
  text-anchor: end;
}


.quartile path {
  fill: transparent;
  stroke: #29b6f6;
  stroke-width: 2;
}

.quartile circle {
  fill: transparent;
  fill: #29b6f6;
  stroke-width: 2;
}

.line path {
  fill: transparent;
  stroke: rgba(155,155,155,0.7);
  stroke-width: 2;
}

.line .area {
  fill: rgba(66,230,230,0.3);
  fill-opacity: 0.3;
  stroke: rgba(155,155,155,0.7);
  stroke-width: 2;
}
